*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#heads{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
}

#logo{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left:10px;
    margin-right: 10px;
}

#icon-menu{
    margin-right: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

#yt-logo{
    margin-right: 10px;
}

#search-props{
    display: flex;
}

#misc{
    display: flex;
}

#search-form{
    display: flex;
    width: 50%;
    margin-left:10%;
    align-items: center;

}

#search-props{
    width: 60%;
    border: 1px solid rgb(204, 204, 204);
}

#search{
    width: 100%;
}


#search-box{ 
    height: 25px; 
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border: none;
    outline: none; 
}



#search-icon{
    margin-left:5px;
    border-left: 1px solid rgb(248, 248, 248);
    height: 25px;
    padding: 5px;
    width: 50px;
    background-color: rgb(248, 248, 248);
}

.search{
    margin-left:10px;
}

#mic-icon{
    margin-left: 20px;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(248, 248, 248);
    width: 25px;
    height: 25px;

}

.left-corner{
    margin-left:20px;
    
}

#misc{
    padding: 10px;
}

#avatar-icon{
    border: 1px solid rgb(248, 248, 248);
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin-top: -7px;
    background-color: rgb(30, 113, 238);
}

main{
    display:grid;
    grid-template-columns: repeat(4,2fr);
    margin-right: 10%;
    margin-left:10%
}

#video-screen{
    grid-column:1/4
}

#main-vid{
    width: fit-content;
}

video{
    width: 98%    !important;
    height: 98%   !important;
}

.vid-wrapper{
    display:flex;
    justify-content: space-between;
}

.video-thumbnail{
    position: relative;
}

.vid-info{
    margin-left: 10px;
}

.timestamp{
    position: absolute;
    background-color: black;
    color: white;
    font-size: small;
    padding: 5px;
    top: 60%;
    right: 2%;
}

.vid-title{
    font-size:small;
    font-weight: bold;

}

.bottom-info{
    margin-top:5px;
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



